.ChatAi {
    display: flex;
    height: 100vh;
}

.new-chat-button {
    background-color: transparent; /* Make the button transparent */
    color: black; /* Change text color to black */
    border: none; /* Remove border */
    padding: 10px; /* Adjust padding for consistency */
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ensure button spans full width */
    text-align: left; /* Align text to the left */
    font-weight: bold; /* Make text bold */
}

.new-chat-button .icon {
    margin-right: 5px; /* Space between icon and text */
}

.main {
    flex: 1;
    display: flex;
}
.chatgpt-logo {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-right: 10px; /* Space between logo and message */
    vertical-align: middle; /* Align with text */
}

.user-logo {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-right: 10px; /* Space between logo and message */
    vertical-align: middle; /* Align with text */
}
